{{!-- Success and error messages --}}
<h2 id="scrape-success" class="text-success d-none h4"><a href="https://www.dailykos.com/" target="_blank" class="underline">DailyKos.com</a> scraped succesfully!</h2>

<h2 id="scrape-fail" class="text-danger d-none h4"><a href="https://www.dailykos.com/" target="_blank" class="underline">DailyKos.com</a> scrape failed. Please try again.</h2>

{{!-- Output scraped elements in table --}}
<table id="article-table" class="table table-striped">
    <tbody></tbody>
</table>